<link rel="stylesheet" href="css/office-pc.css">
<link media="(min-width: 1040px)" rel="stylesheet" href="css/comment-pc.css">
<link media="(max-width: 1040px)" rel="stylesheet" href="css/comment-phone.css">
<div id="comment-editor">
    <div class="comment-botton" @click="showEditor">
        <img class="comment-button-logo" src="img/comment.svg">
        <h4 class="comment-button-text">说点什么吧</h4>
    </div>
    <div class="choose-botton" v-if="chooseButtonDisplay">
        <div class="sure-button" @click="submit">确定</div>
        <div class="cancel-botton" @click="cancle">取消</div>
    </div>
    <div class="comment-editor-wrapper" v-if="commentEditorDisplay">
        <div class="comment-editor" contenteditable="true"  id="user-comment">
            <pre></pre>
        </div>
    </div>
</div>
<iframe src="https://view.officeapps.live.com/op/view.aspx?src=example.file" id="office" class="office-frame" frameborder="0"></iframe>
<div class="comments-wrapper" id="comments">
    <div class="comment-wrapper" v-for="comment in comments">
        <img src="img/userImage.svg" class="user-logo">
        <div class="user-name">
            {{comment.username | unescape}}
        </div>
        <div class="comment">
            <pre>{{comment.content | unescape}}</pre>
        </div>
    </div>
</div>
<script src="js/comment.js"></script>